<!DOCTYPE html>
<html>
  <head>
    <title>Beats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_packs_with_chunks_tag "tailwind" %>
    <%= stylesheet_pack_tag "tailwind" %>

    <%#  Additional JavaScript %>
    <%= content_for(:javascript) if content_for?(:javascript) %>
  </head>

  <body class="bg-sky">
    <%= yield %>
  </body>
</html>
