<!DOCTYPE html>
<html>
  <head>
    <title>Beats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('icons/logo.svg') %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_packs_with_chunks_tag "tailwind" %>
    <%= stylesheet_pack_tag "tailwind" %>

    <%#  Additional JavaScript %>
    <%= content_for(:javascript) if content_for?(:javascript) %>
  </head>

  <body class="font-rubik antialiased">
    <%= yield %>
  </body>
</html>
