<!DOCTYPE html>
<html>
  <head>
    <title>Beats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('icons/logo.svg') %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_packs_with_chunks_tag "tailwind" %>
    <%= stylesheet_pack_tag "tailwind" %>

    <%#  Additional JavaScript %>
    <%= content_for(:javascript) if content_for?(:javascript) %>
  </head>

  <body class="font-nunito antialiased bg-sky-700">
    <div class="w-full h-screen flex">
      <div class="hidden lg:center flex-col bg-white w-100 flex-shrink-0">
        <div class="w-53 text-center">
          <h1 class="text-orange text-3xl mb-3">Twenty Beats</h1>
          <p class="italic text-gray">
            Find the best <span class="text-orange">songs</span> and <span class="text-orange">playlists</span> from normal people around the world.
          </p>
        </div>
        <img
          src="https://media1.tenor.com/images/fe45d911aebd5855d8f7b5fb05f83680/tenor.gif?itemid=5858192"
          class="mt-15 border-orange-100 border-2"
          style="max-width: 312px; filter: contrast(1.5) brightness(0.251) saturate(1.5) hue-rotate(-18deg);"
        />
      </div>
      <section class="w-full center relative">
        <%= render "layouts/shared/session_messages" %>
        <%= yield %>
      </section>
    </div>
  </body>
</html>
